<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Minecraft乗換案内</title>
</head>
<body>
	<form name="form" action="/search" method="post">
	<select name="from">
		<option
			th:each="stations:${stationList}"
			th:value="${stations.id}"
			th:text="${stations.name}"
			>
			</option>
	</select>
	→
	<select name="to">
		<option
			th:each="stations:${stationList}"
			th:value="${stations.id}"
			th:text="${stations.name}"
			>
			</option>
	</select>
	<input type="submit" value="検索">
	</form>
</body>
</html>