<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Minecraft乗換案内</title>
<script src="route.js"></script>
<link href="route.css" rel="stylesheet" type="text/css">
</head>
<body>
	<select id="from" name="from">
		<option
			th:each="stations:${stationList}"
			th:value="${stations.id}"
			th:text="${stations.name}"
			>
			</option>
	</select>
	→
	<select id="to" name="to">
		<option
			th:each="stations:${stationList}"
			th:value="${stations.id}"
			th:text="${stations.name}"
			>
			</option>
	</select>
	<button id="submit">検索</button>

	<div id="route"></div>
</body>
</html>